/*css for credits page */
button#contactUsBtn {
    margin: 1%;
    background-color: #5526af;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .contact-form-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .contact-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5526af;
    padding: 20px;
    width: 200px;
    border-radius: 5px;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
    padding-left: 20%;
  }
  
  .creditcontainer{
    padding-left: 2%;
  }
  .smallcreditbox {
    /* Add styles for small credit box */
    color: black;
    cursor: pointer;
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px 0;
    width: 70%;
    border: black;
    border-radius: 3px;
  }
  
  .subsmallcreditbox {
    /* Add styles for sub small credit box */
    width: 69%;
    padding: 5px;
    margin-left: 20px;
    background-color: #404040;
    display: none;
    
  }
  
  
 /* viewport for credits */ /*breakpoint at 850px*/
    @media screen and (max-width: 850px) { /* viewport for credits */ /*breakpoint at 850px*/
      button#contactUsBtn{
      margin-bottom: 10%;
      }
    }

 
  


  
  /*end credits page css*/
  