main{
  margin-top: 5%;
}
.big-div-container{
  
    width: 100%;
    height: 100%;
    display: flex;
}
.left-div-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
}
.right-div-container{
    padding-left:3%;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
    align-items: center;
}
.box-right-div-container{
  background-color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
}
.preview-container{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
img.kekw{
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.desc-container{
padding-top:5%;
width:100%;
height:100%;
text-align: center;
justify-content: center;
font-size: large;
display: flex;
}
.lb-showimg{
    width: 70%;
    height: 80%;
    object-fit: cover;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding-top:3%;
}
.lb-showdesc{
    width: 80%;
    height: 80%;
    margin: 5px;

}
.Namerate-container {
  display: flex;        /* Makes the container a flexbox */
  justify-content: center; /* Centers the children horizontally */
  align-items: center;  /* Centers the children vertically */
  gap: 2em;            /* Creates space between the children */
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: medium;
  background-color: #5526AF;
  
}


.lb-showname {
  font-size: xx-large;
  font-weight: bold;
  color: white;
  text-align: center;
  
}

.lb-rating {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.Genrewatch-container{
    width: 100%;
    height: 100%;
    object-fit: cover;


}
.lb-genre{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.lb-watchnow{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.lb-watchnow button{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #5526af;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: xx-large;
}


.buttons {
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .buttons {
    font-size: x-large;
    margin-top: 0.5em;
    margin-left: 2em;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttons:hover {
    background-color: #5526AF;
  }
  .buttons.active {
    background-color: #5526AF;
  }
  
  .list li.active {
    background-color: #5526AF; /* Background color for the active/last clicked item */
  }
  
  /* Style for the list number */
  .list {
    counter-reset: list-counter;
  }
  
  .list li {
    font-size: xx-large;
    counter-increment: list-counter;
    list-style-type: none;
    background-color: #000000;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .list li:before {
    content: counter(list-counter) ".";
    margin-right: 10px;
  }
.header {
  margin-bottom: 2em; /* or 2em if you want */
}

.footer {
  margin-top: 2em; /* or 2em if you want */
}

@media screen and (max-width: 920px) { /* viewport for credits */ /*breakpoint at 850px*/ 
     
    .big-div-container{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .left-div-container{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow:hidden;
    }
    .right-div-container{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow:hidden;
        align-items: center;
    }
  }
  