body{
  background-color: #404040;
  color:white;
}
body, h1, h2, h3, p, ul, li { /*Reset default styles*/
    margin: 0;
    padding: 0;
  }
  
  /* Style the main container */
  .vp-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #404040;
  }
  /* Style the left section */
  .vp-left-section {
    width: 60%; /* Each section takes 60% of the container width  */
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  /* Styling the right sections */
  .vp-right-section {
    width: 33%; /* Each section takes 30% of the container width  */
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .vp-show-desc {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .vp-show-desc img {
    width: 100px; /* Adjust the size of the show image as needed */
    margin-right: 20px;
  }
  
  .vp-synopsis {
    flex: 1;
  }

  .vp-comments h3 {
    margin-bottom: 10px;
  }
  .vp-comments textarea {
    width: 100%;
    height: 100px; /* Adjust the height of the comment textarea as needed */
    margin-bottom: 10px;
  }
  
  .premade-comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .premade-comment img {
    width: 30px; /* Adjust the size of the comment icons as needed */
    margin-right: 10px;
  }

  .vp-episode-selector {
    
    align-items: center;
    margin-bottom: 20px;
  }
  
  .vp-titlebar {
    width: 100%;
    height: 30px;
    background-color: #5526af;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
  }
  
  .vp-episode-numbers {
    display: flex;
  }
  
  .episode-no {
    width: 50px;
    height: 50px;
    background-color: #8b63d3;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .episode-no:last-child {
    margin-right: 0;
  }
  
  .also-watch {
    margin-top: 20px;
    flex: 1;
  }
  
  .also-watch .vp-titlebar {
    width: 100%;
    height: 30px;
    background-color: #5526af;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
  }
  
  .vp-recommended {
    display: flex;
    flex-wrap: wrap;
  }
  
  .recommended-show {
    width: calc(50% - 10px);
    background-color: black;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    display: flex;
    align-items: center;
  }
  
  .recommended-show img {
    width: 60px; /* Adjust the size of the show images as needed */
    margin-right: 10px;
  }
  
  .recommended-show p {
    flex: 1;
  }